include _ui-tile

doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		link(rel='shortcut icon', href='favicon.ico')
		meta(name='viewport', content='width=320')
		title About Ginpei
		link(rel='stylesheet', href='css.css')
	body
		.mainArea
			+ui-section('About Ginpei')
				+ui-tile({ size:'large', rotate:2 })
					+ui-tile-surface Ginpei
					+ui-tile-surface({ color:'white', icon:'image/ginpei.png' }) Ginpei
				.tile.ui-tile.ui-tile--rotate2
					.ui-tile-block
						a.tile-surface.ui-tile-surface(href='https://github.com/ginpei')
							img.ui-tile-icon(src='image/github.png', alt='')
							span.tile-title.ui-tile-title GitHub
						a.tile-surface.ui-tile-surface(href='https://github.com/ginpei')
							img.ui-tile-icon(src='image/github.png', alt='')
							span.tile-title.ui-tile-title GitHub
				+ui-tile
					+ui-tile-surface({ url:'https://twitter.com/ginpei_en/', icon:'image/twitter.png' }) Twitter
				+ui-tile
					+ui-tile-surface({ url:'http://ginpen.com' }) Blog
				.tile.ui-tile.ui-tile--wide.ui-tile--rotate2
					.ui-tile-block
						a.tile-surface.ui-tile-surface(href='https://instagram.com/ginpei/')
							img.ui-tile-icon(src='image/instagram.png', alt='')
							span.tile-title.ui-tile-title Instagram
						a.tile-surface.ui-tile-surface(href='https://instagram.com/ginpei/')
							img.ui-tile-icon(src='image/instagram.png', alt='')
							span.tile-title.ui-tile-title Instagram
			section
				h1 Skills
				+ui-tile({ size:'large' })
					+ui-tile-surface({ color:'yellow', image:'image/javascript.png' }) JavaScript
				.tile.ui-tile
					a.tile-surface.tile-surface--white.ui-tile-surface
						img.ui-tile-backgroundImage(src='image/html5.png', alt='')
						span.tile-title.ui-tile-title HTML
				.tile.ui-tile
					a.tile-surface.ui-tile-surface(href='https://jquery.com/')
						span.tile-title.ui-tile-title jQuery
				.tile.ui-tile
					a.tile-surface.ui-tile-surface(href='http://backbonejs.org/')
						span.tile-title.ui-tile-title Backbone.js
				.tile.ui-tile
					a.tile-surface.tile-surface--white.ui-tile-surface(style='background-color:#F8F8F8')
						img.ui-tile-icon(src='image/coffeescript.png', alt='')
						span.tile-title.ui-tile-title CoffeeScript
				.tile.ui-tile
					a.tile-surface.tile-surface--blue.ui-tile-surface
						span.tile-title.ui-tile-title CSS
				.tile.ui-tile
					a.tile-surface.ui-tile-surface
						span.tile-title.ui-tile-title Sass
				.tile.ui-tile
					a.tile-surface.ui-tile-surface(href='http://jasmine.github.io/')
						span.tile-title.ui-tile-title Test with Jasmine
				.tile.ui-tile
					a.tile-surface.ui-tile-surface
						span.tile-title.ui-tile-title Git
				.tile.ui-tile.ui-tile--wide
					a.tile-surface.tile-surface--white.ui-tile-surface
						img.ui-tile-icon(src='image/Ruby_on_Rails.svg', alt='')
						span.tile-title.ui-tile-title Ruby on Rails
				.tile.ui-tile
					a.tile-surface.ui-tile-surface
						img.ui-tile-icon(src='image/cpp.gif', alt='')
						span.tile-title.ui-tile-title C++
			section
				h1 Favorite and Hobby
				.tile.ui-tile
					a.tile-surface.ui-tile-surface
						span.tile-title.ui-tile-title Rock Music
				.tile.ui-tile
					a.tile-surface.ui-tile-surface
						span.tile-title.ui-tile-title Playing Drums
				.tile.ui-tile
					a.tile-surface.tile-surface--white.ui-tile-surface(href='https://www.youtube.com/watch?v=f92VWkYl8CI')
						img.ui-tile-backgroundImage(src='image/thePillows.png', alt='')
						span.tile-title.ui-tile-title the pillows
				.tile.ui-tile.ui-tile--large
					a.tile-surface.ui-tile-surface(href='https://www.youtube.com/watch?v=2EEsa_pqGAs')
						img.ui-tile-backgroundImage(src='image/pianojac.png', alt='')
						span.tile-title.ui-tile-title →Pia-no-jaC←
				.tile.ui-tile
					a.tile-surface.tile-surface--lightBrown.ui-tile-surface
						span.tile-title.ui-tile-title Playing Cajon and Percussions
				.tile.ui-tile
					a.tile-surface.ui-tile-surface(href='https://www.youtube.com/watch?v=xWNyn9Ttf8w')
						img.ui-tile-backgroundImage(src='image/hiromiUehara.png', alt='')
						span.tile-title.ui-tile-title Hiromi Uehara
				.tile.ui-tile
					a.tile-surface.ui-tile-surface
						span.tile-title.ui-tile-title Making Sushi
			section
				h1 Publication
				.tile.ui-tile
					a.tile-surface.ui-tile-surface(href='http://www.amazon.co.jp/dp/4844364936')
						img.ui-tile-backgroundImage(src='image/publication-20150325.jpg', alt='')
						span.tile-title.ui-tile-title 25 March 2015
				.tile.ui-tile
					a.tile-surface.ui-tile-surface(href='http://www.amazon.co.jp/dp/4844364014')
						img.ui-tile-backgroundImage(src='image/publication-20140203.jpg', alt='')
						span.tile-title.ui-tile-title 3 February 2014
			section
				h1 Contact
				.tile.ui-tile.ui-tile--wide
					a.tile-surface.ui-tile-surface
						span.tile-title.ui-tile-title Mail
				.tile.ui-tile
					a.tile-surface.ui-tile-surface(href='https://twitter.com/ginpei_en/')
						img.ui-tile-icon(src='image/twitter.png', alt='')
						span.tile-title.ui-tile-title Twitter
		script.
			// IE 11- doesn't support preserve-3d. Edge is OK.
			if (navigator.userAgent.indexOf('Trident')>=0) document.body.className += ' is-msie';
