$tile-margin: 2px;
$tile-width: 100px;

body {
	font-family: sans-serif;
}
section {	
	margin-bottom: 2em;
}
section > h1 {
	font-size: 1em;
	font-weight: normal;
	margin: 0 0 1em;
}
section::after {	
	content: "";
	clear: both;
	display: block;
}

.mainArea {
	margin: auto;
	width: $tile-width * 3;
}

.tile {
	a {
		text-decoration: none;
	}
	&-surface {
		background-color: #006;
		color: #fff;
		font-family: sans-serif;
	}
	&:hover &-surface {
		border-color: rgba(255,255,255,0.6);
	}
	&-title {
		font-size: 14px;
	}

	&-surface--lightBrown {
		background-color: #ca7;
	}
	&-surface--blue {
		background-color: #69c;
	}
	&-surface--white {
		background-color: #fff;
	}
	&-surface--yellow {
		background-color: #f7df1e;
	}
	&-surface--yellow,
	&-surface--white {
		color: #006;
	}
	&:hover &-surface--white {
		border-color: rgba(0,0,0,0.2);
	}
}

@import 'ui-tile';
