body {
  font-family: sans-serif; }

section {
  margin-bottom: 2em; }

section > h1 {
  font-size: 1em;
  font-weight: normal;
  margin: 0 0 1em; }

section::after {
  content: "";
  clear: both;
  display: block; }

img {
  border-style: none; }

.mainArea {
  margin: auto;
  width: 300px; }

.tile a {
  text-decoration: none; }

.tile-surface {
  background-color: #006;
  color: #fff;
  font-family: sans-serif;
  text-shadow: 1px 1px 0 #666; }

.tile:hover .tile-surface {
  border-color: rgba(255, 255, 255, 0.6); }

.tile-title {
  font-size: 14px; }

.tile-surface--lightBrown {
  background-color: #b89f7a; }

.tile-surface--blue {
  background-color: #6699cc; }

.tile-surface--orange {
  background-color: #f7b36e; }

.tile-surface--white {
  background-color: white; }

.tile-surface--lightGray {
  background-color: #f2f2f2; }

.tile-surface--yellow {
  background-color: #f2d40d; }

.tile-surface--yellow, .tile-surface--lightGray, .tile-surface--white {
  color: #006;
  text-shadow: 1px 1px 0 #ccc; }

.tile:hover .tile-surface--white {
  border-color: rgba(0, 0, 0, 0.2); }

.ui-tile {
  float: left;
  margin: 2px;
  perspective: 300px;
  position: relative; }
  .ui-tile-block {
    height: 100%;
    transform-style: preserve-3d;
    width: 100%; }
  .ui-tile-surface {
    border: 2px transparent solid;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: 2px;
    position: absolute;
    top: 0;
    width: 100%; }
  .ui-tile-icon {
    bottom: 0;
    max-height: 50%;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 50%; }
  .ui-tile-backgroundImage {
    bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%; }
  .ui-tile-title {
    bottom: 0;
    position: absolute; }
  .ui-tile--rotate2 {
    z-index: 1; }

.ui-tile {
  height: 96px;
  width: 96px; }
  .ui-tile .ui-tile-block {
    transform: translateZ(-48px); }
  .ui-tile.ui-tile--rotate2 .ui-tile-block {
    animation: tile-rotate2--medium 20s infinite; }
  .ui-tile.ui-tile--rotate2 .ui-tile-surface:nth-child(1) {
    transform: translateZ(48px); }
  .ui-tile.ui-tile--rotate2 .ui-tile-surface:nth-child(2) {
    transform: rotateX(90deg) translateZ(48px); }

@keyframes tile-rotate2--medium {
  0% {
    transform: translateZ(-48px) rotateX(0deg); }
  5% {
    transform: translateZ(-48px) rotateX(0deg); }
  10% {
    transform: translateZ(-48px) rotateX(-90deg); }
  55% {
    transform: translateZ(-48px) rotateX(-90deg); }
  60% {
    transform: translateZ(-48px) rotateX(0deg); } }

.is-msie .ui-tile .ui-tile-block {
  animation-name: none;
  transform: none; }

.is-msie .ui-tile.ui-tile--rotate2 .ui-tile-surface {
  transform: none; }

.ui-tile--large {
  height: 196px;
  width: 196px; }
  .ui-tile--large .ui-tile-block {
    transform: translateZ(-98px); }
  .ui-tile--large.ui-tile--rotate2 .ui-tile-block {
    animation: tile-rotate2--large 20s infinite; }
  .ui-tile--large.ui-tile--rotate2 .ui-tile-surface:nth-child(1) {
    transform: translateZ(98px); }
  .ui-tile--large.ui-tile--rotate2 .ui-tile-surface:nth-child(2) {
    transform: rotateX(90deg) translateZ(98px); }

@keyframes tile-rotate2--large {
  0% {
    transform: translateZ(-98px) rotateX(0deg); }
  5% {
    transform: translateZ(-98px) rotateX(0deg); }
  10% {
    transform: translateZ(-98px) rotateX(-90deg); }
  55% {
    transform: translateZ(-98px) rotateX(-90deg); }
  60% {
    transform: translateZ(-98px) rotateX(0deg); } }

.is-msie .ui-tile--large .ui-tile-block {
  animation-name: none;
  transform: none; }

.is-msie .ui-tile--large.ui-tile--rotate2 .ui-tile-surface {
  transform: none; }

.ui-tile--wide {
  height: 96px;
  width: 196px; }
  .ui-tile--wide .ui-tile-block {
    transform: translateZ(-48px); }
  .ui-tile--wide.ui-tile--rotate2 .ui-tile-block {
    animation: tile-rotate2--wide 20s infinite; }
  .ui-tile--wide.ui-tile--rotate2 .ui-tile-surface:nth-child(1) {
    transform: translateZ(48px); }
  .ui-tile--wide.ui-tile--rotate2 .ui-tile-surface:nth-child(2) {
    transform: rotateX(90deg) translateZ(48px); }

@keyframes tile-rotate2--wide {
  0% {
    transform: translateZ(-48px) rotateX(0deg); }
  5% {
    transform: translateZ(-48px) rotateX(0deg); }
  10% {
    transform: translateZ(-48px) rotateX(-90deg); }
  55% {
    transform: translateZ(-48px) rotateX(-90deg); }
  60% {
    transform: translateZ(-48px) rotateX(0deg); } }

.is-msie .ui-tile--wide .ui-tile-block {
  animation-name: none;
  transform: none; }

.is-msie .ui-tile--wide.ui-tile--rotate2 .ui-tile-surface {
  transform: none; }
