include _ui-tile

doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		link(rel='shortcut icon', href='favicon.ico')
		meta(name='viewport', content='width=320')
		title About Ginpei
		link(rel='stylesheet', href='css.css')
	body
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-21122526-6', 'auto');
			ga('send', 'pageview');

		.mainArea

			+ui-section('About Ginpei')
				+ui-tile({ size:'large', rotate:2 })
					+ui-tile-surface Ginpei
					+ui-tile-surface({ color:'white', icon:'image/ginpei.png' }) Ginpei
				+ui-tile({ rotate:2 })
					+ui-tile-surface({ icon:'image/github.png', url:'https://github.com/ginpei' }) GitHub
					+ui-tile-surface({ icon:'image/github.png', url:'https://github.com/ginpei' }) GitHub
				+ui-tile({ url:'https://twitter.com/ginpei_en/', icon:'image/twitter.png' }) Twitter
				+ui-tile({ url:'http://ginpen.com' }) Blog
				+ui-tile({ size:'wide', rotate:2 })
					+ui-tile-surface({ icon:'image/instagram.png', url:'https://instagram.com/ginpei/' }) Instagram
					+ui-tile-surface({ icon:'image/instagram.png', url:'https://instagram.com/ginpei/' }) Instagram

			+ui-section('Skills')
				+ui-tile({ color:'yellow', image:'image/javascript.png', size:'large' }) JavaScript
				+ui-tile({ color:'lightGray', icon:'image/backbone.svg', url:'http://backbonejs.org/' }) Backbone.js
				+ui-tile({ url:'https://jquery.com/' }) jQuery
				+ui-tile({ color:'lightGray', icon:'image/coffeescript.png'  }) CoffeeScript
				+ui-tile({ color:'lightGray', icon:'image/jasmine.svg', url:'http://jasmine.github.io/' }) Jasmine
				+ui-tile({ color:'orange' }) HTML
				+ui-tile({ color:'lightGray', icon:'image/jade.svg', url:'http://jade-lang.com/' }) Jade
				+ui-tile({ color:'blue' }) CSS
				+ui-tile({ icon:'image/sass.png', url:'http://sass-lang.com/' }) Sass
				+ui-tile({ icon:'image/vim.svg' }) Vim
				+ui-tile({ icon:'image/git.png' }) Git
				+ui-tile({ icon:'image/Ruby_on_Rails.svg', size:'wide', url:'http://rubyonrails.org/' }) Ruby on Rails
				+ui-tile({ icon:'image/cpp.png' }) C++

			+ui-section('Favorite and Hobby')
				+ui-tile Rock Music
				+ui-tile Playing Drums
				+ui-tile({ color:'white', image:'image/thePillows.png', url:'https://www.youtube.com/watch?v=f92VWkYl8CI' }) the pillows
				+ui-tile({ image:'image/pianojac.png', url:'https://www.youtube.com/watch?v=2EEsa_pqGAs',  size:'large' }) →Pia-no-jaC←
				+ui-tile({ color:'lightBrown' }) Playing Cajon and Percussions
				+ui-tile({ image:'image/hiromiUehara.png', url:'https://www.youtube.com/watch?v=xWNyn9Ttf8w' }) Hiromi Uehara
				+ui-tile({ color:'lightBrown', image:'image/makingSushi.jpg' }) Making Sushi

			+ui-section('Publication')
				+ui-tile({ image:'image/publication-20150325.jpg', url:'http://www.amazon.co.jp/dp/4844364936' }) 25 March 2015
				+ui-tile({ image:'image/publication-20140203.jpg', url:'http://www.amazon.co.jp/dp/4844364014' }) 3 February 2014

			+ui-section('Contact')
				+ui-tile({ size:'wide' }) Mail
				+ui-tile({ icon:'image/twitter.png', url:'https://twitter.com/ginpei_en/' }) Twitter

		script.
			// IE 11- doesn't support preserve-3d. Edge is OK.
			if (navigator.userAgent.indexOf('Trident')>=0) document.body.className += ' is-msie';
